<div id="environments-menu-wrapper">
    {{#buttons}}
        <div class="environment-wrapper">
            <div class="environment-button-wrapper center-xy">
                <div class="radio-button {{status}}">
                    <div class="radio-button-selected {{status}}"></div>
                </div>
                <div class="button-title no-select">{{title}}</div>
            </div>
        </div>
        <div class="spacer"></div>
    {{/buttons}}
</div>