<div id="inputs-menu-wrapper">
    {{#buttons}}
        <div class="input-wrapper">
            <div class="center-xy">
                <div class="no-select button-title">{{title}}</div>
                <div id="{{title}}-toggle" class="input-toggle-background center-x">
                    <div class="input-toggle-foreground center-y {{status}}"></div>
                </div>
            </div>
        </div>
        <div class="spacer"></div>
    {{/buttons}}
</div>