<div id="inputs-menu-wrapper">
    <div class="input-wrapper">
        <div class="center-xy">
            <div id="show-pointcloud" class="no-select button-title">Show pointcloud</div>
            <div id="show-pointcloud-toggle" class="input-toggle-background center-x">
                <div class="input-toggle-foreground center-y off"></div>
            </div>
        </div>
    </div>
    <div class="spacer"></div>
    <div class="input-wrapper">
        <div class="center-xy">
            <div id="set-background-dark" class="no-select button-title">Lights off</div>
            <div id="set-background-dark-toggle" class="input-toggle-background center-x">
                <div class="input-toggle-foreground center-y off"></div>
            </div>
        </div>
    </div>
    <div class="spacer"></div>
    {{#buttons}}
        <div class="input-wrapper">
            <div class="center-xy">
                <div id="{{title}}" class="no-select button-title">{{title}}</div>
                <div id="{{title}}-toggle" class="input-toggle-background center-x">
                    <div class="input-toggle-foreground center-y {{status}}"></div>
                </div>
            </div>
        </div>
        <div class="spacer"></div>
    {{/buttons}}
</div>