.menu-content {
    display: grid;
    height: 100%;
    grid-template-columns: auto;
}

.menu-content div {
    position: relative;
}

.menu-button {
    z-index: 10;
    cursor: pointer;
}

.menu-button-container {
    height: 106px;
    width: 106px;
    opacity: 13%;

    /*center x and y*/
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.menu-button.hovered ~ .menu-button-outline {
    display: block;
    stroke: var(--lightPurple);
    stroke-width: 2.2px;
    opacity: 0.6;
}

text, .menu-button-icon, .menu-button-outline   {
    pointer-events: none;
}

text {
    fill: var(--lightPurple);
    font-family: "Lato Light";
    font-size: 14px;
    text-transform: uppercase;
}
