<div class="menu-content" grid-template-rows="repeat({{numMenuItems}}, auto)">

    {{#menuItem}}
    <div>
        <svg class="menu-button-container">
            <circle id="{{menuButtonTitle}}" class="menu-button" cx="53px" cy="53px" r="50px" fill="black" opacity="0.2"/>
            <circle class="menu-button-outline" cx="53px" cy="53px" r="50px" fill="transparent" opacity="0.2" display="none"/>
            <text class="no-select" x="50%" y="65%" dy=".3em" text-anchor="middle">{{menuButtonTitle}}</text>
            <image class="menu-button-icon" href="/_assets/img/grasp.png" height="30" width="30" x="36%" y="20%"/>
        </svg>
    </div>
    {{/menuItem}}

</div>
