<div id="settings-container">
    <div class="input-wrapper">
        <div class="center-xy">
            <div class="no-select button-title">Dark Mode</div>
            <div id="background-toggle" class="input-toggle-background center-x">
                <div class="input-toggle-foreground center-y off"></div>
            </div>
        </div>
    </div>
    <div class="spacer"></div>
    <div class="input-wrapper">
        <div class="center-xy">
            <div class="no-select button-title">Point Cloud</div>
            <div id="point-cloud-toggle" class="input-toggle-background center-x">
                <div class="input-toggle-foreground center-y on"></div>
            </div>
        </div>
    </div>
</div>