<div id="submenu-header">
    <svg class="menu-button-container">
        <circle class="menu-button hovered" cx="53px" cy="53px" r="50px" fill="black" opacity="0.2"/>
        <circle class="menu-button-outline" cx="53px" cy="53px" r="50px" fill="transparent" opacity="0.2" display="none"/>
        <text id="submenu-button-text" x="50%" y="65%" dy=".3em" text-anchor="middle">{{selectedMenuItem}}</text>
        <image class="menu-button-icon" height="30px" width="30px" x="36%" y="20%" href="/_assets/img/grasp.png"/>
    </svg>
</div>

<div class="submenu-spacer"></div>

{{#submenuItem}}
<div class="submenu-button" id="{{buttonTitle}}">
    <div class="highlighted-bar"></div>
    <div class="submenu-button-title-container">
        <div class="submenu-button-title no-select">{{buttonTitle}}</div>
    </div>
</div>
<div class="submenu-spacer"></div>
{{/submenuItem}}

</div>
